@media only screen and (max-width: 1000px) {
	.copyright p,
	.foot-nav a  {
		font-size: 1.6rem;
	}

}

@media only screen and (max-width: 800px) {
	p,
	.copyright p,
	.foot-nav a {
		font-size: 1.4rem;
	}
	.social-nav img {
		width: 2rem;
	}


@media only screen and (max-width: 700px) {
	.heading-main {
		font-size: 3rem;
	}

	.heading-sub {
		font-size: 2.5rem;
	}

	h4,
	p {
		width: 70vw;
	}
	
	.about-img {
		height: 10rem;
	}
	
	.social-img {
		height: 12rem;
	}

	footer {
		gap: 1rem;
	}
	
	.foot-nav {
		flex-direction: column;
		gap: 0;
	}

	.foot-nav a {
		font-size: 1rem;
	}

	.copyright p {
		font-size: 1.2rem;
	}

	.social-nav {
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 500px) {
.heading-main {
		font-size: 2.5rem;
	}

	.heading-sub {
		font-size: 2.2rem;
	}

	h2 {
		width: 50vw;
	}

	h4 {
		font-size: 1.5rem;
	}
	
	.about-img {
		height: 8rem;
	}

	.foot-nav a {
		padding-left: 2rem;
	}
	
	.copyright p {
		font-size: 0.9rem;
	}
	
	.social-nav img {
		width: 1.5rem;
		height: auto;
	}
}

@media only screen and (max-width: 400px) {

}

