* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: ghostwhite;
}

/*--------------*/
/*----HEADER----*/
/*--------------*/

header {
	display: block;
	color: whitesmoke;
	background-image: linear-gradient(
			hsla(0, 0%, 0%, 0.534),
			hsla(0, 0%, 0%, 0.534)
		),
		url('./img/remote.png');
	background-position: 50% 30%;
	background-repeat: no-repeat;
	width: 100vw;
	height: 55vh;
}

h1 {
	font-size: 2.25rem;
	font-weight: 700;
	padding: 5rem 0 0 3rem;
}

/*------NAVI----*/

.nav {
	display: flex;
	list-style: none;
	font-size: 1.25rem;
	padding: 1rem 0 0 1rem;
}

.nav li {
	display: flex;
	float: right;
	padding: 2rem 0 0 1.5rem;
}

.nav a {
	display: flex;
	color: whitesmoke;
	text-decoration: none;
	justify-content: right;
	cursor: pointer;
}

.logo {
	width: 5rem;
	height: auto;
	border-radius: 50%;
}

/*--------------*/
/*------BODY----*/
/*--------------*/

h2 {
	font-weight: 700;
	color: goldenrod;
}

section {
	margin: 1rem 2rem;
	line-height: 1.6rem;
}

/*------LINKS----*/

a {
	text-decoration: none;
	color: #20daa5;
}

a:hover,
a:active {
	color: rgb(173, 14, 14);
}

/*------ABOUT----*/

.take-it-img {
	height: 10rem;
	width: auto;
}

/*------CONTACT----*/

.code-img {
	width: 15rem;
	height: auto;
}

/*------JOIN----*/

.rights-img {
	height: 15rem;
	width: auto;
}

/*--------------*/
/*----FOOTER----*/
/*--------------*/

footer {
	background-color: rgb(100, 100, 100);
	padding: 1rem 0 1rem 2.5rem;
	font-size: 0.75rem;
}

footer a {
	color: black;
	text-decoration: none;
}

.foot-nav a {
	color: whitesmoke;
}

.social-links a {
	color: whitesmoke;
}
